<body style="background-color:#dddddd">
<center>
<h1>Items</h1>
<% @items.each do |key, value| %>
<div>
	<h3><%= key %> : <%= value %></h3>
</div>
<% end %>
<a href="/">
	<input type="button" style="border:none; background-color:#e4833e; color:white; padding:10px; cursor:pointer" value="Go Back Home">
</a>
</center>
</body>